# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Local Vector Store & Data Indexes
*.index
*.pkl
data/

# OS / Environment files
.DS_Store
.env
eval_output.txt
*.egg-info/